@media (max-width: 1260px) {
    .header__address {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .header__logo {
        margin: auto;
    }
    .home__phone {
        display: none;
    }
    .burger {
        display: block;
    }
    .header__info {
        position: relative;
        justify-content: space-between;
    }
    .header__phone_responsive {
        display: block;
    }
    .header__nav {
        /* display: none; */
    }
    .home__wrapper {
        margin-top: 32px ;
    }
    .header__nav {
        left: 100%;
        position: fixed;
        /* display: none; */
    }
    .header__nav.active {
        display: block;
        position: absolute;
        background-color: chocolate;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        transition: left .5s ease-in-out;
    }
    
    .header__nav::after {
        display: none;
    }
    .header__nav::before {
        display: none;
    }
    .header__list.active {
        flex-direction: column;
        padding: 120px 0;
    }
    .header__item {
        margin: 20px;
    }
    .header__link {
        font-weight: 600;
        font-size: 25px;
        color: #fff;
    }
    .burger {
        z-index: 4;
    }
}