/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: #33333;
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Raleway', sans-serif;
  --biggest-font-size: 32px;
  --h1-font-size: 26px;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 48px;
    --h1-font-size: 40px;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1360px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.grid {
  display: grid;
}



.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}
.header__logo {
  display: block;
  background-color: orange;
  max-width: 100%;
  width: 168px;
  height: 72px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 36px 0 ;
}
.header__address {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.header__address p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.header__address span {
  font-weight: 400;
  font-size: 15px;
}
.header__address_gmail {
  text-align: center;
}
.header__address_subtitle {
  color: #F2994A;
}
.header__addres_phone {
  font-size: 22px;
  color: black;
  font-weight: bold;
}
.btn {
 border: none;
 outline: none;
 background: #F2994A;
 color: #ffff; 
 border-radius: 32px;
}
.header__btn {
  font-size: 16px;
  font-weight: bold;
  padding: 24px 18px;
}

/* =================== header nav */

.header__nav {
  position: relative;
  background: #F2C94C;
}
.header__nav::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 72px;
  right: 100%;
  top: 0;
  background: #F2C94C;
}
.header__nav::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 72px;
  right: -100%;
  top: 0;
  background: #F2C94C;
}
.header__list {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 25px 0;
}
.header__link {
  color: #333333;
  font-size: 18px;
  font-weight: 500
}
/* ===================== HOME =================== */
.home__wrapper {
  position: relative;
  margin: 64px 0 123px 0;
  display: flex;
  background: linear-gradient(90deg, #F3A657 0%, #F3A657 100%);
  border-radius: 32px;
  justify-content: space-between;
}
.home__text {
  width: 100%;
  max-width: 603px;
  padding: 50px 0 56px 81px;
}
.home__text_title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: var(--h1-font-size);
  line-height: 48px;
  color: #fff;
  padding: 0 0 24px 0;
}
.home__text_item {
  display: flex;
  max-width: 100%;
}
.home__text_item p {
  padding-left:35px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.circle{
  width: 22px;
  max-width: 100%;
  height: 22px;
  border-radius: 50%;
  background: #fff;
}
.home__text_item span {
  color: #fff;
}
.home__phone {
  position: absolute;
  right: -15px;
  bottom: -40px;  
  width: 104px;
  height: 104px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(242, 201, 76, 0.4);
}
.home__phone img {
  z-index: 1;
}
.home__phone::after {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  right: 7;
  bottom: 20;
  background-color: #F2C94C;
}
.home__text_btn {
  display: block;
  max-width: 100%;
  width: 252px;
  text-align: center;
  background-color: #fff;
  color: #F2994A;
  padding: 20px 41px;
  border-radius: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  margin-top: 34px;
  transition: background-color .3s ease;
}
.home__text_btn:hover {
  color: #fff;
  background-color: #ff9233;
}
/*=============== BURGER ===============*/

.burger {
  order: -1;
  display: none;
  background: none;
  width: 42px;
  height: 62px;
  cursor: pointer;
}
.burger__span {
  display: block;
  width: 100%;
  height: 3px;
  background: #F2994A;
  border-radius: 32px;
}
.burger__span:not(:last-child) {
  margin-bottom: 7px;
}
.header__phone_responsive {
  display: none;
}
/* Change background header */


/* Active link */
/* ============== NAVIGATION ============== */
.header__list {
  background: #F2994A;
  position: absolute;
  width: 100%;
  transform: translate(-15%, -10.5%);
  height: 100vh;
  z-index: 23;
  flex-direction: column;
  padding: 120px 0;
}
.header__link {
  font-size: 22px;
}
.header__link:not(:last-child) {

}
.header__nav::after {
  display: none;
}
.header__nav::before {
  display: none;
}
/*=============== HOME ===============*/


/*=============== BUTTON ===============*/


/*=============== LOGOS ===============*/


/*=============== POPULAR ===============*/


/* Swiper class */


/*=============== VALUE ===============*/


/*Rotate icon and add shadows*/


/*=============== CONTACT ===============*/


/*=============== SUBSCRIBE ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For 2K & 4K resolutions */
