/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(228, 66%, 53%);
  --first-color-alt: hsl(228, 66%, 47%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --second-color: hsl(25, 83%, 53%);
  --title-color: hsl(228, 57%, 28%);
  --text-color: #33333;
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Raleway', sans-serif;
  --biggest-font-size: 32px;
  --h1-font-size: 26px;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 17px;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 48px;
    --h1-font-size: 40px;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 18px;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1360px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.grid {
  display: grid;
}

.orange-text {
  color: #F2994A;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}
.header__logo {
  display: block;
  background-color: orange;
  max-width: 100%;
  width: 168px;
  height: 72px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 36px 0 ;
}
.header__address {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.header__address p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.header__address span {
  font-weight: 400;
  font-size: 15px;
}
.header__address_gmail {
  text-align: center;
}
.header__address_subtitle {
  color: #F2994A;
}
.header__addres_phone {
  font-size: 22px;
  color: black;
  font-weight: bold;
}
.btn {
 border: none;
 outline: none;
 background: #F2994A;
 color: #ffff; 
 border-radius: 32px;
}
.header__btn {
  font-size: 16px;
  font-weight: bold;
  padding: 24px 18px;
}

/* =================== header nav */

.header__nav {
  position: relative;
  background: #F2C94C;
}
.header__nav::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%); 
  top: 0;
  background: #F2C94C;
  z-index: -1;
}

.header__list {
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 25px 0;
}
.header__link {
  color: #333333;
  font-size: 18px;
  font-weight: 500
}
/* ===================== HOME =================== */
.home__wrapper {
  position: relative;
  margin: 64px 0 123px 0;
  display: flex;
  background: linear-gradient(90deg, #F3A657 0%, #F3A657 100%);
  border-radius: 32px;
  justify-content: space-between;
}
.home__text {
  width: 100%;
  max-width: 603px;
  padding: 50px 0 56px 81px;
}
.home__text_title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: var(--h1-font-size);
  line-height: 48px;
  color: #fff;
  padding: 0 0 24px 0;
}
.home__text_item {
  display: flex;
  max-width: 100%;
}
.home__text_item p {
  padding-left:35px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.circle{
  width: 22px;
  max-width: 100%;
  height: 22px;
  border-radius: 50%;
  background: #fff;
}
.home__text_item span {
  color: #fff;
}
.home__phone {
  position: absolute;
  right: -15px;
  bottom: -40px;  
  width: 104px;
  height: 104px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(242, 201, 76, 0.4);
}
.home__phone img {
  z-index: 1;
}
.home__phone::after {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  right: 7;
  bottom: 20;
  background-color: #F2C94C;
}
.home__text_btn {
  display: block;
  max-width: 100%;
  width: 252px;
  text-align: center;
  background-color: #fff;
  color: #F2994A;
  padding: 20px 41px;
  border-radius: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  margin-top: 34px;
  transition: background-color .3s ease;
}
.home__text_btn:hover {
  color: #fff;
  background-color: #ff9233;
}
/*=============== BURGER ===============*/

.burger {
  order: -1;
  display: none;
  background: none;
  width: 42px;
  height: 62px;
  cursor: pointer;
}
.burger__span {
  display: block;
  width: 100%;
  height: 3px;
  background: #F2994A;
  border-radius: 32px;
}
.burger__span.active {
  background: #fff;
}
.burger__span:not(:last-child) {
  margin-bottom: 7px;
}
.header__phone_responsive {
  display: none;
}
.home__text_responsive {
  display: none;
}
/* Change background header */


/* Active link */
/* ============== NAVIGATION ============== */

.header__link {
  font-size: 22px;
}

/*=============== ABOUT ===============*/
.about {
  margin-bottom: 100px;
}
.about__title {
  font-size: var(--h1-font-size);
  text-align: center;
  color: #333333;
  font-weight: bold;
}
.about__title span {
  color: #F2994A;
}
.about__content {
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 61px 0;
}
.about__content_text {
  max-width: 622px;
}
.about__content_text p {
  line-height: 32px;
  margin-bottom: 30px;
  font-size: var(--normal-font-size);
}
.about__btn {
  display: block;
  max-width: 282px;
  padding: 19px 64px;
  font-weight: 700;
  margin: 38px 0;
}
.about__items {
  display: flex;
  align-items: center;
  gap: 60px;
}
.about__item {
  width: 303px;
  max-width: 100%;
  height: 224px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(242, 153, 74, 0.2);
  border-radius: 15px;
  padding: 23px 0 60px 0;

}
.about__item span {
  color: #F2C94C;
  font-weight: 800;
  font-size: 86px;
  line-height: 101px;
}
.about__item p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding-top: 17px;
}
.swiper {
  /* width: 726px; */
  width: 100%;
  height: 300px;
  position: relative;
}
.swiper__slide {
  border-radius: 15px;

}
.swiper__responsive {
  display: none;
}
.swiper-pagination-bullet-active {
  background-color: #F2994A;
}
.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
}
/*=============== PROJECT ===============*/

.project__title {
  font-size: var(--biggest-font-size);
  text-align: center;
  font-weight: 700;
  line-height: 56px;
}
.project__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 45px 0 64px 0;
}
.project__item {
  cursor: pointer;
  padding: 11px 32px;
  border-radius: 10px;
  border: 1px solid #f2c94c;
}
.project__item.active {
  background: #F2C94C;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}


.project__card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.project__cards {
  display: flex;
  gap: 30px;
  margin-bottom: 64px;
}
.project__cards:not(:last-child) {
}
.project__card {
  width: 303px;
  max-width: 100%;
}
.project__card_last {
  width: 635px;
  max-width: 100%;
}
.project__card_img {
  border-radius: 10px;
  margin: 0 0 20px;
}
.project__card_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 18px;
  color: #828282;
}
.project__card_link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #F2994A;
}
.project__card_btn {
  display: flex;
  justify-content: center;
  max-width: 264px;
  padding: 18px 30px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700
}

/*=============== PRICE ===============*/
.price {
}
.price__title {
  font-size: var(--biggest-font-size);
  color: #333333;
  text-align: center;
  margin: 147px 0 61px;
}

.price__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 153px;
}
.price__item {
  width: 413px;
  max-width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.15);
  border-radius: 10px;
}
.price__item_inner {
  padding: 34px 24px;
}
.price__item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.price__item_price  {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 27px 0;
}

.price__item_price p {
  display: flex;
  justify-content: space-between;
}
.price__item_price p:not(:last-child) {
  margin-bottom: 13px;
}
.price__item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
}
.price__item_result {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 36px 0 36px;
}
.price__item_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 413px;
  max-width: 100%;
  height: 64px;
  border-radius: 0 0 10px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
/*=============== REGISTER ===============*/
.register__title {
  font-size: var(--biggest-font-size);
  text-align: center;
  justify-content: center;
}
.register__text {
  margin: auto;
  max-width: 694px;
  text-align: center;
  padding: 18px 0 47px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.register__items {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 143px;
}
.register__item_img {
  width: 524px;
  max-width: 100%;
  border-radius: 20px;
} 
.register__item_img img {
  width: 100%;
}
.register__item_selection {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.15);
  width: 746px;
  max-width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.item__selection_inner {
  padding: 34px 10px 44px;
  max-width: 100%;
  position: relative;
}
.register__item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.register__select {
  position: relative;
  width: 584px;
  max-width: 100%;
  margin: 26px 0 40px;
}
.register__select_btn {
  padding: 19px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4F4F4F;
  display: flex;
  justify-content: space-between;
  border: 1px solid #828282;
  border-radius: 10px;
  cursor: pointer;
}
.register__select_content {
  width: 690px;
  max-width: 100%;
  background-color: #Ffff;
  border-radius: 0 0 10px 10px;
}

select {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  outline: none;
  background: #fff;
  border: 1px solid #828282;
  border-radius: 10px;
  padding: 20px 24px;
  width: 584px;
  max-width: 100%;
}
.register__choose p {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 26px;
}
.register__chekbox input {
}
.chekbox {
  width: 24px;
  height: 24px;
  position: absolute;
  border: 1px solid #828282;
  border-radius: 5px;
  margin-left: -30px;
}
.chekbox-register {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}
.register__chekbox label:not(:last-child) {
  margin: 0 54px 0 0;
}
.check {
  padding-left: 30px;
  display: inline-flex;
}
.check:not(:last-child) {
  padding-bottom: 15px;

}

.chekbox-register:checked + .chekbox {
  background-color: #F2994A;
  border: none;
} 
.register__btn {
  margin: 42px 0 0;
}
.register__btn_btn {
  width: 584px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.register__btn_text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  margin-top: 17px;
}

/*=============== ORDER ===============*/

.order__title {
  font-size: var(--biggest-font-size);
  text-align: center;
}
.order__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 54px;
}
.order__item {
  position: relative;
  width: 278px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center; 
}
.order__item_number {
  font-weight: 900;
  font-size: 96px;
  line-height: 113px;
  color: #F2994A;
  opacity: 0.08;
}
.order__item_img {
  width: 88px;
  height: 88px;
  margin: auto;
}
.order__item_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}


/*=============== WORK ===============*/
.work__title {
  margin: 150px 0 45px;
  text-align: center;
  font-size: var(--biggest-font-size);
}
.work__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.work__item {
  width: 413px;
  max-width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.15);
  border-radius: 20px;
}
.work__item_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.work__item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #828282;  
  margin: 20px 0 24px;
}
.work__item_descs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.work__item_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.work__item_desc img {
  width: 32px;
  height: 32px;
}
.work__item_desc span{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 9px;
}
.work-swiper {
  height: 350px;
}
.work__item_textcontent {
  padding: 0 24px 36px;
}
.work__btn {
  margin: 64px auto 144px;
  width: 264px;
  max-width: 100%;
  font-weight: 700;
  font-size: 16px;  
  line-height: 19px;
  display: block;
  text-align: center;
  padding: 19px 0;
}
/*=============== GIFT ===============*/

.gift__wrapper {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #C5C9CC;
  display: flex;
  margin-bottom: 139px;
}
.gift__text {
  max-width: 100%;
  padding: 74px 0 0 81px;
}
.gift__text_title {
  font-size: var(--biggest-font-size);
  color: #333333;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}
.gift__text_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 26px 0 28px;
}
.gift__text_btn {
  padding: 19px 0;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  box-shadow: 0px 4px 20px rgba(242, 153, 74, 0.2);
  border-radius: 32px;
  width: 251px;
  max-width: 100%;
  color: #DE6C49;
  display: block;
  text-align: center;
}

.gift__wrapper img {

}
/*=============== TEAM ===============*/
.team__title  {
  font-size: var(--biggest-font-size);
  text-align: center;
}
.team__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin: 16px auto 49px;
  text-align: center;
  width: 694px;
  max-width: 100%;
}
/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */



/* For medium devices */


/* For large devices */


/* For 2K & 4K resolutions */
